/* src/styles.scss */
$primary-color: #3498db;

body {
  background-color: $primary-color;
}

.my-class {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: darken($primary-color, 10%);
}
